@page
@model hon3y.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Afspraak</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Afspraak.Voornaam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Afspraak.Voornaam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Afspraak.Achternaam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Afspraak.Achternaam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Afspraak.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Afspraak.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Afspraak.Telefoonnummer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Afspraak.Telefoonnummer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Afspraak.AfspraakReden)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Afspraak.AfspraakReden)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Afspraak.Datum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Afspraak.Datum)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Afspraak.AfspraakId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
